@font-face {
  font-family: 'Geometria';
  src: local('Geometria'), url(./components/fonts/Geometria.ttf) format('ttf');
}

.buttons{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  width: 180px;
  height: 60px;
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  display: block;
  box-sizing: border-box;
  padding: 14px 20px;
  text-align: center;
  background-color: #F7F7F7;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .buttons{
    width: 924px;
  }

  .button{
    width: 146px;
    padding: 14px 5px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .buttons{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 500px;
    justify-content: center;
  }

  .button{
    width: 8px;
    background-color: #333333;
    border-radius: 8px;
    font-size: 0;
    padding: 0;
    height: 8px;
    margin: 0 5px;
  }
}

@media (max-width: 767px) {
  .buttons{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 720px;
    justify-content: center;
  }

  .button{
    width: 8px;
    background-color: #333333;
    border-radius: 8px;
    font-size: 0;
    padding: 0;
    height: 8px;
    margin: 0 5px;
  }
}